<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAaSjRP2-wIduoVNZeFRSN55Dwf1QaZs8</string>
	<key>GCM_SENDER_ID</key>
	<string>748969995293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wydVishnu</string>
	<key>PROJECT_ID</key>
	<string>wyd-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>wyd-swift.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748969995293:ios:ecc982c0062ca53547eaf4</string>
</dict>
</plist>